<div class="banner">
  <div class="container">
    <div
      class="row d-flex justify-content-center align-items-center vh-100"
    >
      <div class="col-md-5">
        <div class="card p-4 border-secondary border-3 text-center">
            <h1><i class="bi bi-journal-text"></i></h1>
            <h1 class="fw-bold">
            Student Register
          </h1>

          <h4 class="mt-2">"One Platform, Four Actions: Create, Read, Update, Delete."</h4>

          <div class="d-grid gap-2 mt-5">
            <button type="button"  routerLink="/add-student" class="btn btn-lg btn-secondary">Get Started</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
